<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

        body{
            font-family: 'poppins', sans-serif;
            background: rgb(187, 166, 148);
            /* background: rgb(212, 114, 58); */
            box-sizing: border-box;
            margin: 0;

        }

        .nav-container{
            background: rgb(212, 114, 58);
            color: white;
            padding: 0.5px 20px;
            margin-bottom: 50px;
       }

       .nav-container h5{
        font-size: 1.5rem;
       }

        

 
    </style>
</head>
<body>
    <div class="nav-container">
        <nav>
            <h5>RPA Exercise</h5>
        </nav>
    </div>
    <div class="new-report-container">
        
    </div>

    <form action="" method="POST">
        {% csrf_token %}

        {{ form.expense_id }}
        {{form.amount}}
        <input type="submit" name="submit"/>
    </form>
    
    
</body>
</html> -->